{%- case site.color-scheme -%}
  {%- when "", nil, false, 0, empty -%}
    {%- assign ColorScheme = "auto" -%}
  {%- else -%}
    {%- assign ColorScheme = site.color-scheme -%}
{%- endcase -%}

<!DOCTYPE html>
<html lang="{{ site.language | default: "en-US" }}">
	{% include head.html %}
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <header>
          {% if site.logo %}
	  <a class="img-circle" href="{{- "/" | absolute_url -}}"><img class="img-circle" src="{{site.logo | relative_url}}" alt="Logo"></a>
          {% endif %}
          <p class="site-title">{{- site.title -}}</p>
          <p>{{- site.description -}}</p>
          {% include sidebar.html %}
        </header>
        {% include links-mobile.html %}
      </div>
      <section>
      	{{ content }}
      </section>
      <footer>
        {%- include footer.html -%}
      </footer>
    </div>
  </body>
</html>
